<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2016 Adobe Systems Incorporated
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<template data-sly-template.default="${@ renderItem}">
<p>
    <a class=listitem0" href="${renderItem.item.path}.html"
        onclick="CQ_Analytics.record({event: 'listItemClicked', values: { listItemPath: '${renderItem.item.path @ context='scriptString'}' }, collect:  false, options: { obj: this }, componentPath: '${resource.resourceType @ context='scriptString'}'})">${renderItem.itemName}</a>
</p>
</template>
<template data-sly-template.news="${@ renderItem}">
<p>
    <a class="mylistitem1" href="${renderItem.item.path}.html"
        onclick="CQ_Analytics.record({event: 'listNewsItemClicked', values: { listItemPath: '${renderItem.item.path @ context='scriptString'}' }, collect:  false, options: { obj: this }, componentPath: '${resource.resourceType @ context='scriptString'}'})">
        <span data-sly-test="${renderItem.modifdate}" class="news-date">${renderItem.modifdate}:&nbsp;</span>
        <span class="news-title">${renderItem.itemName}</span></a>
        <sly data-sly-test="${renderItem.item.description}">
            <br/>
            <span class="news-description">${renderItem.item.description}</span>
        </sly>
</p>
</template>
<template data-sly-template.teaser="${@ renderItem}">
<p>
    <a class="mylistitem2" href="${renderItem.item.path}.html"
            onclick="CQ_Analytics.record({event: 'listTeaserItemClicked', values: { listItemPath: '${renderItem.item.path @ context='scriptString'}' }, collect:  false, options: { obj: this }, componentPath: '${resource.resourceType @ context='scriptString'}'})">
        <img data-sly-test="${renderItem.hasimage}" class="teaser" src="${renderItem.item.path}/jcr:content.thumbnail.48.48.jpg" alt=""/>
        <span class="teaser-title">${renderItem.itemName} ##</span>
    </a>
    <sly data-sly-test="${renderItem.item.description}">
        <br/>
        <span class="teaser-description">${renderItem.item.description}</span>
    </sly>
</p>
</template>
